server:
  port: 8083

spring:
  application:
    name: booking
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:umrah}?currentSchema=booking
    username: ${DB_USER:umrah}
    password: ${DB_PASSWORD:umrah}
  jpa:
    hibernate:
      ddl-auto: update
