server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173"
            allowedMethods: "*"
            allowedHeaders: "*"
      routes:
        - id: auth
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=2
        - id: catalog
          uri: http://localhost:8082
          predicates:
            - Path=/api/catalog/**
          filters:
            - StripPrefix=2
        - id: booking
          uri: http://localhost:8083
          predicates:
            - Path=/api/booking/**
          filters:
            - StripPrefix=2
        - id: payment
          uri: http://localhost:8084
          predicates:
            - Path=/api/payment/**
          filters:
            - StripPrefix=2
        - id: admin-catalog
          uri: http://localhost:8082
          predicates:
            - Path=/api/admin/catalog/**
          filters:
            - StripPrefix=1
        - id: admin-booking
          uri: http://localhost:8083
          predicates:
            - Path=/api/admin/booking/**
          filters:
            - StripPrefix=1
        - id: admin-payment
          uri: http://localhost:8084
          predicates:
            - Path=/api/admin/payment/**
          filters:
            - StripPrefix=1

security:
  jwt:
    secret: ${JWT_SECRET:change-me-please}
